body {
  font-family: Arial, Helvetica, sans-serif;
   margin: 0;
  padding: 0;
}

/*HEADER*/
header {
  background-color: #43c5c3;
  padding: 0;
  text-align: center;
}

header img {
  width: 100%; 
  height: auto; 
  display: block; 
}

/*NAVIGATION BAR*/
.navbar {
  overflow: hidden;
  background-color: #34495e; /* Trendy dark blue color */
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #ecf0f1; /* Light gray text color */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Dropdown styles */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #ecf0f1; /* Light gray text color */
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #e74c3c; /* Trendy red color on hover */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ecf0f1; /* Light gray background color */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #2c3e50; /* Blue-gray text color */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #bdc3c7; /* Lighter gray on hover */
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ... (existing styles) ... */

/* Two columns style */
.left-column {
  flex: 1;
  background-color: #3498db; /* Trendy blue color */
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Style the content */
article {
  flex: 2; /* Adjust the flex value for the article */
  background-color: #ebf9f9;
  color: #165e79;
  padding: 20px;
  margin-left: 50px; /* Add left margin to create blue space on the left */
}

/* ... (existing styles) ... */


article p {
  color: black;
  margin: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Style the footer */
footer {
  background-color: #165e79;
  padding: 20px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
