body {
  font-family: Arial, Helvetica, sans-serif;
}

/*HEADER VIDEO*/
video {
  display: flex;
  max-width: 100%;
  height: auto;
}


/*HEADER*/
header {
  background-color: #43c5c3;
  padding: 20px;
  text-align: center;
}


/*NAVIGATION BAR*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#165e79;
}

li {
  float: left;
}
  
li a:active {
  background-color: #007;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 50px;
  text-decoration: none;
  font-size: 24px;
  font-family: papyrus;
}


li a:hover {
  background-color: #003;
}


/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #aee6e5;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  flex: 3;
  background-color: #ebf9f9;
  color: #165e79;
  padding: 20px;
 
}

article p{
  color: black;
}

/* Style the footer */
footer {
  background-color: #165e79;
  padding: 20px;
  text-align: left;
  color: white;
}

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
